PORT=10000

MAKEAPI_URL=http://localhost:5000
MAKEAPI_KEY=00000000-0000-0000-000000000000
MAKEAPI_ID=00000000-0000-0000-000000000000

LOGIN_URL=http://testuser:password@localhost:3000
SECRET_KEY=dummy secret value
DOMAIN=

# Leave blank so that webmaker-auth reads as a falsy value!
# (we've been spoiled by habitat :)
FORCE_SSL=
